<div class="center">
  <h1>Welcome to Nankam Aeronautical</h1>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Proceed to Showroom!", showroom_path , class: "btn btn-large btn-primary" %>
</div>


