<footer class="footer">
  <small>
    <a href="http://jurassicsystems.com/">Nankam Aeronautical Website</a>
    by Anders Soong and Kade Cooper
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Info", info_path %></li>
      <li><a href="http://hard-light.net/">News</a></li>
    </ul>
  </nav>
</footer>